[submodule "common-utils/_common"]
	path = common-utils/_common
	url = https://github.com/Tencent/tdesign-common.git
[submodule "common-utils/_ai-core"]
	path = common-utils/_ai-core
	url = https://github.com/TDesignOteam/tdesign-ai-core.git
