@import "../../_common/style/web/components/chat/_var.less";

:root {
  // 盒模型
  --td-chat-input-attachments-margin: 0 0 var(--td-comp-margin-xs) 0;
  --td-chat-input-textarea-max-height: 134px;
  --td-chat-input-textarea-scrollbar-width: 4px;
  --td-chat-input-textarea-scrollbar-thumb-radius: 2px;
  --td-chat-input-padding: var(--td-comp-paddingTB-m) var(--td-comp-paddingLR-m);
  --td-chat-input-radius: 16px;
  --td-chat-input-shadow: 0px 0px 0px 2px var(--td-brand-color-focus);
  --td-chat-input-background: var(--td-bg-color-container);
  --td-chat-input-hover-border: var(--td-brand-color);
  --td-chat-input-actions-margin: 0;
  --td-chat-input-actions-gap: var(--td-comp-margin-m);
  --td-chat-input-actions-item-wh: 28px;
  --td-chat-input-actions-item-radius: 14px;
  --td-chat-input-actions-item-font-size: 20px;
  --td-chat-input-box-shadow: none;

  // 字体尺寸、行高
  --td-chat-input-font-size: 16px;

  // 颜色
  --td-chat-input-content-default-border: var(--td-component-border);
  --td-chat-input-textarea-scrollbar-color: var(--td-scrollbar-color);
  --td-chat-input-textarea-scrollbar-hover-color: var(--td-scrollbar-hover-color);
  --td-chat-input-button-default-bg: var(--td-bg-color-secondarycomponent);
  --td-chat-input-button-default-color: var(--td-bg-color-container);
  --td-chat-input-actions-item-color: var(--td-text-color-primary);
  --td-chat-input-actions-item-bg: transparent;
  --td-chat-input-actions-item-hover-bg: var(--td-bg-color-container-hover);
}
