@import "./import.less";

:host {
  margin-top: @comp-margin-xl;
  width: 100%;
}

.@{prefix}-chat__input {
  width: 100%;

  // 附件区
  &__header {
    position: relative;
    bottom: calc(-@chat-input-radius);
    padding-bottom: @chat-input-radius;
    border: 1px solid @chat-input-content-default-border;
    border-bottom: none;
    border-top-left-radius: @chat-input-radius;
    border-top-right-radius: @chat-input-radius;

    &:empty {
      display: none;
    }
  }

  // 主体区
  &__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: @comp-paddingTB-m @comp-paddingLR-m @comp-paddingTB-m @comp-paddingLR-m;
    border: 1px solid @chat-input-content-default-border;
    border-radius: @chat-input-radius;
    background: @bg-color-secondarycontainer;
    transition: all .3s;
    z-index: 1;

    &:focus-within {
      border-color: @brand-color;
      background: @bg-color-container;
      box-shadow: 0px 0px 0px 2px @brand-color-2;
    }

    &:hover {
      border-color: @brand-color;
    }
  }

  // 输入框
  &__textarea {
    flex: 1;
    min-height: 0;
    max-height: @chat-input-textarea-max-height;
    display: flex;
    flex-direction: column;

    &::part(@{prefix}-textarea) {
      flex: 1;
      min-height: 0;
      width: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: @chat-input-textarea-scrollbar-width;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: @chat-input-textarea-scrollbar-thumb-radius;
        background-color: @chat-input-textarea-scrollbar-color;
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: @chat-input-textarea-scrollbar-hover-color;
      }
    }

    &::part(@{prefix}-textarea__inner) {
      padding: 0 0 @comp-paddingTB-s 0;
      border: none;
      background: none;
      box-shadow: none;
    }

    &::part(@{prefix}-textarea__inner):placeholder {
      color: @text-color-secondary;
    }
  }

  // 功能区
  &__actions {
    display: flex;
    align-items: center;
  }

  &__model {
    flex: 1;
    min-width: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: @comp-size-s;
    text-align: center;
    cursor: pointer;

    &::part(@{prefix}-button) {
      transform: rotate(-90deg);
      width: @comp-size-s;
      height: @comp-size-s;
      border-radius: @border-radius-circle;
      background: @chat-input-button-default-bg;
      color: @chat-input-button-default-color;
    }
    
    &--focus::part(@{prefix}-button) {
      background: @brand-color;
      color: @text-color-anti;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .@{prefix}-icon {
        font-size: @font-size-l;
      }
    }
  }

  &__stopbtn {
    flex: 0 0 auto;
    margin-left: @comp-margin-l;

    .@{prefix}-button {
      width: 100px;
      height: @comp-size-xxxxl;
      border-radius: @border-radius-round;
      background: @bg-color-secondarycontainer;
      color: @text-color-primary;
      font-size: @font-size-l;

      &__text {
        align-items: center;
      }

      .@{prefix}-icon {
        font-size: @font-size-xl;
        margin-right: @comp-margin-s;
      }
    }
  }
}