@import "./import.less";

.@{prefix}-chat-action {
    margin: var(--t-chat-item-actions-list-margin);
    display: flex;
    gap: var(--t-chat-item-actions-list-gap);
    padding: var(--t-chat-item-actions-list-padding);
    border: var(--t-chat-item-actions-list-border);
    border-radius: var(--t-chat-item-actions-list-radius);
    background-color: var(--t-chat-item-actions-list-bg);
    overflow: hidden;

    &:empty {
      display: none;
    }

    &__item__wrapper {
      display: flex;
      padding: var(--t-chat-item-actions-item-padding);
      border-radius: var(--t-chat-item-actions-item-radius);
      cursor: pointer;

      &:hover, &:active {
        background-color: var(--t-chat-item-actions-item-hover-bg);
      }
    }

    &__preset__wrapper {
      display: flex;
    }
  }
