:host {
    display: block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s;
  }
  .file-card-type-overview {
    width: 168px;
    height: 52px;
    border-radius: 6px;
    padding: 11px;
    background: #F3F3F3;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
  }
  
  .file-card-remove {
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
  }
  
  .file-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
  
  .file-card-content {
    margin-left: 6px;
    text-align: left;
  }

  .file-card-name {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .file-card-desc {
    color: #9e9d9e;
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }